span{
    color: red;
}
div p:nth-of-type(2){
    background-color: gold;
}
div p:nth-of-type(even){
    background-color: black;
}
div p:nth-of-type(odd){
    background-color: gold;
}
div p:nth-of-type(3n-1){
    color: blue;
}
div p:only-of-type{
    background-color: brown;
}
div p:only-child{
    color: crimson;
    background-color: lemonchiffon;
}
input:optional{
    background-color: Blue;
    color: white;
}
input:required{
   color: white;
    background-color: purple;
}
input:read-only{
    background-color: red;
}
:target{
    background-color: blue;
    padding: 10px;
    color: aliceblue;
}
.main div:target{
    display: block;
 background-color: blue;
    color: azure;
}
p::first-line{
    color: green;
}
p::first-letter{
    font-size: 30px;
    color: darkblue;
}
span::first-line{
    color: aquamarine;
}
p.un::first-letter{
    font-size: xx-large;
    color: RED;
    font-weight: bold;
}
h2::before{
    content: url(image/r.png) "Me before You. ";
}
h2::after{
    content: ". I came after Before." ;
}